*
{
    margin:0;
    padding:0;
    box-sizing:border-box;
   font-family: sans-serif;
}
.container {
    height: 100vh;
}
.navbar {
    background-color: black;
    display:flex;
   justify-content: space-between;
    align-items: center;
    padding: .7rem 1rem;
}
.navbar .brand h2 {
    color:aliceblue;
    letter-spacing: 3px;

}
.navbar .links {
display: flex;
align-items: center;
}
.navbar .links ul {
 display: flex;
}
ul li {
    list-style: none;
    padding: 1.5rem;
}
ul li a{
    text-decoration: none;
    color:aliceblue;
}
.buttons button {
    border:none;
    outline:none;
    border-radius: 32px;
    padding:.5rem 1rem;
color:aliceblue;
}
 button:first-child{
    background:blue;
    margin-right:1.2rem;
 }
 button:last-child{
    background:red;
 }
 button:hover{
    color:black;
    background:#009771;
 }
 .active  {
    color:green;
 }
